{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div id="query-result" class="col-12 alert">
                        <p></p>
                    </div>
                    <div class="col-12 action-biblio">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-0 py-0">
                                <a href="{{path('create_book_biblio')}}" class="card-action my-2 mx-2">
                                    <div class="card-action-icon">
                                        <div class="picture justify-content-center">
                                            <i class="fas fa-plus-square fa-4x"></i>
                                        </div>
                                    </div>
                                    <div class="card-action-text">
                                        <h4 class="flex-wrap">Ajouter votre propre livre</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% for book in books %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-0 py-0">
                            <div class="card my-2 mx-2">
                                <div class="card-header">
                                    <div class="picture">
                                        {% if book.cover is defined %}
                                            {% if book.isApiBook %}
                                                <img src="{{book.cover.pathFile}}" class="card-img" alt="image">
                                            {% else %}
                                                <img src="{{asset('covers/'~ book.cover.fileName)}}" class="card-img" alt="image">
                                            {% endif %}
                                        {% else %}
                                            <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{book.title}}</h5>
                                </div>
                                <div class="card-bottom">

                                    {% if book|isApiBook %}
                                        <a id="showBook" class="btn button-primary show-book" href="{{path('book_show',{id: book.apiId})}}">
                                            <i class="icon-button fas fa-info fa-2x"></i>
                                            <span class="text-button">Détaille</span>
                                        </a>
                                        {% if app.user.biblio|isInUserBiblio(book.id) %}
                                            {% include "book/action/_remove_book.html.twig" with {id: book.id} %}
                                        {% else %}
                                            {% include "book/action/_add_book.html.twig" with {id: book.id} %}
                                        {% endif %}
                                    {% else %}
                                        <a id="showBook" class="btn button-primary show-book" href="{{path('book_show',{id: book.id})}}">
                                            <i class="icon-button fas fa-info fa-2x"></i>
                                            <span class="text-button">Détaille</span>
                                        </a>
                                        <a user-link class="btn button-primary remove-book" href="{{path('remove_book_biblio',{id: book.id})}}">

                                            <i class="icon-button fas fa-minus-square fa-2x"></i>
                                            <span class="js-status text-button">Retirer de ma Biblio</span>
                                        </a>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}