<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="{{path('app_home_index')}}"><img src="{{asset('images/logo/logo.png')}}"
            alt="Bibliothèque"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse block-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto list-link">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('app_home_index')}}">Accueil <i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('book_search')}}">Recherche <i class="fas fa-search"></i></a>
            </li>
            {% if app.user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{app.user.email}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{path('index_biblio', {id: app.user.biblio.id })}}">Ma biblio</a>
                    <a class="dropdown-item" href="#">Mon Compte</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_registration')}}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
            </li>
            {% endif %}
        </ul>
        <div class="navbar-block-form js-nav">
            <form method="GET" action="{{path('book_search')}}" class="form-inline my-2 my-lg-0">
                <input name="keywords" class="form-control mr-sm-2 js-search" type="search"
                    placeholder="Rechercher un livre" aria-label="Search">
                <input name="l" type="number" value="20" style="display: none;">
                <input name="free" type="checkbox" value="true" style="display: none;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
            </form>
            <div id="div-result" class="js-result-none"></div>
        </div>
    </div>

</nav>
