<form id="tagSearchForm{{id}}" action="{{ path('biblio_search') }}" method="GET" style="display: none;">
    <input type="hidden" name="tag" id="selectedTag{{id}}">
    {% if csrf_protection is defined %}
    <input type="hidden" name="_token" value="{{ csrf_token('tag_search') }}">
    {% endif %}
</form>
<div class="tags-line">
    {% for tag in tags %}
    {% set color = tag.color is defined ? tag.color : '#c51919'%}
    {% set code = tag.code is defined ? tag.code : tag %}
    <span class="tag" style="background-color: {{color}};" data-code="{{code}}" data-biblio="{{id}}"
        js-biblio-tag-search>
        {{code}}</span>
    {% endfor %}
</div>
<script>
</script>
