{# On crée des variables personnalisées #}
    {% set queryParams = app.request.query.all %} {# on recupère les paramètres en url #}
    {% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}
<div class="container">
    <div class="count">
        {{ books.getTotalItemCount }} <span>résultats</span>
    </div>
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{ knp_pagination_render(books) }}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        {% if books is defined %}
            {% for book in books %}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        {% if book.volumeInfo.imageLinks is defined %}
                        <div class="picture">
                            <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="image">
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-header">
                        
                        <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                        {% if book.volumeInfo.subtitle is defined %}
                            <p class="card-text">{{book.volumeInfo.subtitle}}</p>
                        {% endif %}
                        
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                    <div class="card-bottom">
                        <a class="btn btn-secondary" data-link="{{book.selfLink}}" href="{{path('show_book',{id: book.id})}}">Détaille</a>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-12">
                    Aucun résulats
                </div>
            </div>
        {% endif %}
    </div>
</div>

