{# On crée des variables personnalisées #}
    {% set queryParams = app.request.query.all %} {# on recupère les paramètres en url #}
    {% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}
<div class="container">
    {% if queryParams.keywords is defined %}
    <div class="count">
        {{ books.getTotalItemCount }} <span>résultats pour votre recherche <em>{{queryParams.keywords}}</em></span>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{ knp_pagination_render(books) }}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div id="query-result" class="col-12 alert">
            <p></p>
        </div>
        {% if books is defined %}
            {% for book in books %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card my-2 mx-2">
                    <div class="card-header">
                        <div class="picture">
                        {% if book.volumeInfo.imageLinks is defined %}
                        
                            {% if book.volumeInfo.imageLinks.thumbnail is defined %}
                                <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="card-img" alt="image">
                            {% elseif book.volumeInfo.imageLinks.smallThumbnail is defined %}
                                <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="image">
                            {% endif %}

                        {% else %}
                            <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                        {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                        {% if book.volumeInfo.subtitle is defined %}
                            <p class="card-text">{{book.volumeInfo.subtitle | slice(0, 50) }}</p>
                        {% endif %}
                        
                    </div>
                    <div class="card-bottom">
                        <a id="showBook" class="btn btn-secondary" data-link="{{book.selfLink}}" href="{{path('show_book',{id: book.id})}}">Détaille</a>
                        
                        {% if app.user %}
                            {% if app.user.isAddbyUser(book.id) %}
                                <a js-link class="btn btn-secondary remove-book" href="{{path('add_apibook_biblio',{id: book.id})}}">
                                   <span class="js-status">Supprimer de ma Biblio</span>
                                </a>
                                {% else %}
                                <a js-link class="btn btn-secondary add-book" href="{{path('add_apibook_biblio',{id: book.id})}}">
                                    <span class="js-status">Ajouter à ma biblio</span>
                                </a>
                            {% endif %}
                            
                        {% else %}
                            <span class="small-text">Connecter vous<br>pour ajouter un livre</span>
                        {% endif %}
                    </div>
                </div>
                
            </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-12">
                    Aucun résulats
                </div>
            </div>
        {% endif %}
    </div>
</div>

