<div id="related-book">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="row">
            <div class="col-12 py-3">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                {% for book in booksRelated | slice(0,3) %}
                    <div class="col-12 col-lg-4 px-0 py-0">
                        <div class="card my-2 mx-2">
                            <div class="card-header">
                                <div class="picture">
                                {% if book.volumeInfo.imageLinks is defined %}
                                
                                        {% if book.volumeInfo.imageLinks.thumbnail is defined %}
                                            <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="card-img" alt="image">
                                        {% elseif book.volumeInfo.imageLinks.smallThumbnail is defined %}
                                            <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="image">
                                        {% endif %}

                                    {% else %}
                                        <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                                </div>
                                <div class="card-bottom">
                                    <a id="showBook" class="btn button-primary show-book" data-link="{{book.selfLink}}" href="{{path('show_book',{id: book.id})}}">
                                        <i class="icon-button fas fa-info fa-2x"></i>
                                        <span class="text-button">Détaille</span>
                                    </a>
                                    
                                    {% if app.user %}
                                        {% if app.user.isAddbyUser(book.id) %}
                                            <a js-link class="btn button-primary remove-book" href="{{path('add_apibook_biblio',{id: book.id})}}">
                                                <i class="icon-button fas fa-minus-square fa-2x"></i>
                                                <span class="js-status text-button">Retirer de ma Biblio</span>
                                            </a>
                                            {% else %}
                                            <a js-link class="btn button-primary add-book" href="{{path('add_apibook_biblio',{id: book.id})}}">
                                                <i class="icon-button fas fa-plus-square fa-2x"></i>
                                                <span class="js-status text-button">Ajouter à ma biblio</span>
                                            </a>
                                        {% endif %}
                                        
                                    {% else %}
                                        <span class="small-text">Connecter vous<br>pour ajouter un livre</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                   
                {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                {% for book in booksRelated | slice(3,3) %}
                    <div class="col-12 col-lg-4 px-0 py-0">
                        <div class="card my-2 mx-2">
                            <div class="card-header">
                                <div class="picture">
                                {% if book.volumeInfo.imageLinks is defined %}
                                
                                        {% if book.volumeInfo.imageLinks.thumbnail is defined %}
                                            <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="card-img" alt="image">
                                        {% elseif book.volumeInfo.imageLinks.smallThumbnail is defined %}
                                            <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="image">
                                        {% endif %}

                                    {% else %}
                                        <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    
                                    <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                                    {% if book.volumeInfo.subtitle is defined %}
                                        <p class="card-text">{{book.volumeInfo.subtitle | slice(0, 50) }}</p>
                                    {% endif %}
                                    
                                </div>
                                <div class="card-bottom">
                                    <a id="showBook" class="btn button-primary show-book" data-link="{{book.selfLink}}" href="{{path('show_book',{id: book.id})}}">
                                        <i class="icon-button fas fa-info fa-2x"></i>
                                        <span class="text-button">Détaille</span>
                                    </a>
                                    
                                    {% if app.user %}
                                        {% if app.user.isAddbyUser(book.id) %}
                                            <a js-link class="btn button-primary remove-book" href="{{path('add_apibook_biblio',{id: book.id})}}">

                                                <i class="icon-button fas fa-minus-square fa-2x"></i>
                                            <span class="js-status text-button">Supprimer de ma Biblio</span>
                                            </a>
                                            {% else %}
                                            <a js-link class="btn button-primary add-book" href="{{path('add_apibook_biblio',{id: book.id})}}">
                                                <i class="icon-button fas fa-plus-square fa-2x"></i>
                                                <span class="js-status text-button">Ajouter à ma biblio</span>
                                            </a>
                                        {% endif %}
                                        
                                    {% else %}
                                        <span class="small-text">Connecter vous<br>pour ajouter un livre</span>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                {% for book in booksRelated | slice(6,3) %}
                    <div class="col-12 col-lg-4 px-0 py-0">
                        <div class="card my-2 mx-2">
                            <div class="card-header">
                                <div class="picture">
                                {% if book.volumeInfo.imageLinks is defined %}
                                
                                        {% if book.volumeInfo.imageLinks.thumbnail is defined %}
                                            <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="card-img" alt="image">
                                        {% elseif book.volumeInfo.imageLinks.smallThumbnail is defined %}
                                            <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img" alt="image">
                                        {% endif %}

                                    {% else %}
                                        <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    
                                    <h5 class="card-title">{{book.volumeInfo.title}}</h5>
                                    {% if book.volumeInfo.subtitle is defined %}
                                        <p class="card-text">{{book.volumeInfo.subtitle | slice(0, 50) }}</p>
                                    {% endif %}
                                    
                                </div>
                                <div class="card-bottom">
                                    <a id="showBook" class="btn button-primary show-book" data-link="{{book.selfLink}}" href="{{path('show_book',{id: book.id})}}">
                                        <i class="icon-button fas fa-info fa-2x"></i>
                                        <span class="text-button">Détaille</span>
                                    </a>
                                    
                                    {% if app.user %}
                                        {% if app.user.isAddbyUser(book.id) %}
                                            <a js-link class="btn button-primary remove-book" href="{{path('add_apibook_biblio',{id: book.id})}}">

                                                <i class="icon-button fas fa-minus-square fa-2x"></i>
                                            <span class="js-status text-button">Supprimer de ma Biblio</span>
                                            </a>
                                            {% else %}
                                            <a js-link class="btn button-primary add-book" href="{{path('add_apibook_biblio',{id: book.id})}}">
                                                <i class="icon-button fas fa-plus-square fa-2x"></i>
                                                <span class="js-status text-button">Ajouter à ma biblio</span>
                                            </a>
                                        {% endif %}
                                        
                                    {% else %}
                                        <span class="small-text">Connecter vous<br>pour ajouter un livre</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>