{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h1>{{book.volumeInfo.title}}</h1>
                    </div>
                    <div class="col-12 col-md-6">
                        {% for author in book.volumeInfo.authors %}
                            <h3>{{author}}</h3>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="picture">
                        {% if book.volumeInfo.imageLinks is defined %}
                            {% if book.volumeInfo.imageLinks.medium is defined %}
                            <img src="{{book.volumeInfo.imageLinks.medium}}" alt="{{book.volumeInfo.title}}">
                            {% elseif book.volumeInfo.imageLinks.thumbnail is defined %}
                            <img src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="{{book.volumeInfo.title}}">
                            {% else %}
                            <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="{{book.volumeInfo.title}}">
                            {% endif %}
                        {% else %}
                            <img src="{{asset('images/covers/default.jpg')}}" alt="{{book.volumeInfo.title}}">
                        {% endif %}
                        </div>
                    </div>
                    {% if book.volumeInfo.description is defined %}
                    <div class="col-12">
                        <p>{{book.volumeInfo.description | raw}}</p>
                    </div>
                    {% endif %}
                    
                </div>
                
            </div>
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12">
                        <h6>Détaille</h6>
                    </div>
                </div>
                {% if book.volumeInfo.industryIdentifiers is defined %}
                    <div class="row my-5">
                        {% for item in book.volumeInfo.industryIdentifiers %}
                            <div class="col-12">
                                <h5>{{item.type}} : {{item.identifier}}</h5>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <h5>{{book.volumeInfo.publisher}}</h5>
                    </div>
                    <div class="col-12 col-md-6">
                        {% if book.volumeInfo.publishedDate is defined %}
                            <h5>{{book.volumeInfo.publishedDate}}</h5>
                        {% else %}
                            <h5>Date de publication inconnue</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-12">
                        <h6>Obtenir :</h6>
                    </div>
                    <div class="col-12 ">
                        Pays : {{book.saleInfo.country}}
                    </div>
                    <div class="col-12 ">
                        Status : {{book.saleInfo.saleability}}
                    </div>
                    {% if book.saleInfo.isEbook == true %}
                        <div class="col-12 ">
                            <a class="btn btn-secondary" href="{{book.saleInfo.buyLink}}" title="obtenir le livre">Obtenir</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}