<div class="row">
    
    {{form_start(form)}}
    <div class="col-12 mb-3">
        {{form_row(form.title)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.description)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.publishedAt)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.ISBN)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.types)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.publishingHouse)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.writers)}}
    </div>
    <div class="col-12 mb-3">
        {{form_row(form.cover)}}
    </div>

    {{form_end(form)}}
    
</div>
