{% extends 'base.html.twig' %}

{% block title %}{{biblio.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% include "biblio/_sidebar.html.twig" %}
        </div>
        <div class="col-10">
            <div class="row">
                <div id="query-result" class="col-12 alert">
                    <p></p>
                </div>
            {% for book in books %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-2 mx-2">
                        <div class="card-header">
                            <div class="picture">
                            {% if book.cover is defined %}
                               {% if book.isApiBook %}
                                    <img src="{{book.cover.pathFile}}" class="card-img" alt="image">
                                {% else %}
                                    <img src="{{asset('covers/'~ book.cover.fileName)}}" class="card-img" alt="image">
                                {% endif %}
                            {% else %}
                                <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                            {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            
                            <h5 class="card-title">{{book.title}}</h5>
                            {% if book.description is not empty %}
                                <p class="card-text">{{book.description | slice(0, 50) | raw}}</p>
                            {% endif %}
                            
                        </div>
                        <div class="card-bottom">
                            
                            {% if book.isApiBook %}
                            <a id="showBook" class="btn btn-secondary" href="{{path('show_book',{id: book.apiId})}}">Détaille</a>
                                {% if app.user.isAddbyUser(book.apiId) %}
                                    <a js-link class="btn btn-secondary remove-book" href="{{path('add_apibook_biblio',{id: book.apiId})}}">
                                    <span class="js-status">Supprimer de ma Biblio</span>
                                    </a>
                                    {% else %}
                                    <a js-link class="btn btn-secondary add-book" href="{{path('add_apibook_biblio',{id: book.apiId})}}">
                                        <span class="js-status">Ajouter à ma biblio</span>
                                    </a>
                                {% endif %}
                            {% else %}
                            <a id="showBook" class="btn btn-secondary" href="{{path('show_book',{id: book.id})}}">Détaille</a>
                                <a user-link class="btn btn-secondary remove-book" href="{{path('remove_book_biblio',{id: book.id})}}">
                                    <span class="js-status">Supprimer de ma Biblio</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{asset('script/addBook.js')}}"></script>
    <script>
        addRemoveApiBook();// les livres créés à partir de l'api google
        removeBookFromBiblio(); // les livres créés par l'utilisateur
    </script>
{% endblock %}
