{% extends 'base.html.twig' %}

{% block title %}{{biblio.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% include "biblio/_sidebar.html.twig" %}
        </div>
        <div class="col-10">
            <div class="row">
                <div id="query-result" class="col-12 alert">
                    <p></p>
                </div>
            {% for book in books %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card my-2 mx-2">
                        <div class="card-header">
                            <div class="picture">
                            {% if book.cover is defined %}
                                    <img src="{{book.cover.pathFile}}" class="card-img" alt="image">
                            {% else %}
                                <img src="{{asset('images/covers/default.jpg')}}" class="card-img" alt="image">
                            {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            
                            <h5 class="card-title">{{book.title}}</h5>
                            {% if book.description is not empty %}
                                <p class="card-text">{{book.description | slice(0, 50) | raw}}</p>
                            {% endif %}
                            
                        </div>
                        <div class="card-bottom">
                            
                            {% if book.isApiBook %}
                            <a id="showBook" class="btn btn-secondary" href="{{path('show_book',{id: book.apiId})}}">Détaille</a>
                                {% if app.user.alreadyAddbyUser(book.apiId) %}
                                    <a js-link class="btn btn-secondary remove-book" href="{{path('add_apibook_biblio',{id: book.apiId})}}">
                                    <span class="js-status">Supprimer de ma Biblio</span>
                                    </a>
                                    {% else %}
                                    <a js-link class="btn btn-secondary add-book" href="{{path('add_apibook_biblio',{id: book.apiId})}}">
                                        <span class="js-status">Ajouter à ma biblio</span>
                                    </a>
                                {% endif %}
                            {% else %}
                            <a id="showBook" class="btn btn-secondary" href="{{path('show_book',{id: book.id})}}">Détaille</a>
                                {% if app.user.alreadyAddbyUser(book.id) %}
                                    <a js-link class="btn btn-secondary remove-book" href="{{path('add_book_biblio',{id: book.id})}}">
                                    <span class="js-status">Supprimer de ma Biblio</span>
                                    </a>
                                    {% else %}
                                    <a js-link class="btn btn-secondary add-book" href="{{path('add_book_biblio',{id: book.id})}}">
                                        <span class="js-status">Ajouter à ma biblio</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    {{parent()}}
    <script src="{{asset('script/addBook.js')}}"></script>
    <script>
        addRemoveBook();
    </script>
    <script>
        function addFormToCollection($collectionHolderClass) {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('.' + $collectionHolderClass);

            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            // Add the new form at the end of the list
            $collectionHolder.append($newFormLi)
        }


        jQuery(document).ready(function() {
            // Get the ul that holds the collection of writers
            var $tagsCollectionHolder = $('ul.writers');
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

            $('body').on('click', '.add_item_link', function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                // add a new tag form (see next code block)
                addFormToCollection($collectionHolderClass);
            })
        });
    </script>
{% endblock %}
