<nav class="navbar navbar-expand-lg navbar-light bg-light js-nav">
  <a class="navbar-brand" href="{{path('app_home')}}"><img src="{{asset('images/logo/logo.png')}}" alt="Bibliothèque"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('app_home')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('search_book')}}">Recherche</a>
      </li>
      {% if app.user %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          {% if app.user.lastname is not null %}
            {{app.user.lastname}}
          {% else %}
            Profil
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('index_biblio')}}">Ma biblio</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input name="search" class="form-control mr-sm-2 js-search" type="search" placeholder="Rechercher un livre" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div id="div-result" class="js-result-none"></div>
</nav>

