<div id="content">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="row">
            <div class="col-12 py-3">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% for article in articles | slice(0,3) %}
                        <div class="col-12 col-lg-4 my-2">
                            <div class="card-actu">
                                <div class="picture-actu">
                                    <img class="img-actu" src="{{article.urlToImage}}" class="card-img-top" alt="{{article.title}}">
                                </div>
                                <div class="card-body-actu">
                                    {% set var = (article.title|length > 50)? 50 : 100 %}
                                    <h5 class="card-title">{{article.title}}</h5>
                                    <p class="card-text-actu">{{article.description | slice(0,var) | raw}}</p>
                                    <a href="{{article.url}}" class="btn button-primary">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for article in articles | slice(3,3) %}
                        <div class="col-12 col-lg-4 my-2">
                            <div class="card-actu">
                                <div class="picture-actu">
                                    <img class="img-actu" src="{{article.urlToImage}}" class="card-img-top" alt="{{article.title}}">
                                </div>
                                <div class="card-body-actu">
                                    {% set var = (article.title|length > 50)? 50 : 100 %}
                                    <h5 class="card-title">{{article.title}}</h5>
                                    <p class="card-text-actu">{{article.description | slice(0,var) | raw}}</p>
                                    <a href="{{article.url}}" class="btn button-primary">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% for article in articles | slice(6,3) %}
                        <div class="col-12 col-lg-4 my-2">
                            <div class="card-actu">
                                <div class="picture-actu">
                                    <img class="img-actu" src="{{article.urlToImage}}" class="card-img-top" alt="{{article.title}}">
                                </div>
                                <div class="card-body-actu">
                                    {% set var = (article.title|length > 50)? 50 : 100 %}
                                    <h5 class="card-title">{{article.title }}</h5>
                                    <p class="card-text-actu">{{article.description | slice(0,var) | raw}}</p>
                                    <a href="{{article.url}}" class="btn button-primary">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</div>